/* Step-2 You can assign padding to all sides of a container by using the padding property. */

div {
    box-sizing: border-box;
}

.content-left {
    padding: 15px;
}

/* Step 2 You can assign padding to all sides of a container by using the padding property. */

.header {
    padding: 10px 15px;
}


/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-image-container {
    background: #96F0F2;
    height: 30%;
    min-width: 50px;
}

/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-links-container {
    background: #12F3F7;
    height: 65%;
    min-width: 100px;
    margin: 15px auto;
}

/* Step-2 You can either use float left or position absolute to get this element to in the desired location. */

.logo-container {
    background: #4F4949;
    height: 40px;
    width: 170px;
    display:  inline-block;
}


/* Step-2 You can either use float right or position absolute to get this element to in the desired location. */

.menu-container {
    background: #4F4949;
    height: 40px;
    width: 35px;
    display: inline-block;
    position: absolute;
    right: 0px;
    margin-right: 15px;
}



